<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'post:index' %}">together</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
                </li>
               {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'post:post_create' %}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:profile' %}">Profile</a>
                </li>
                <a href="" class="btn btn-success">{{request.user.username}}</a>
                
                <a href="{% url 'accounts:logout' %}" class="btn btn-secondary ml-2">Logout</a>
                {% endif%}
                <li class="nav-item">
                    <a class="nav-link active" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:register' %}">register</a>
                </li>
            </ul>

        </div>
    </div>
</nav>